.particle-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none; // Cambio importante: no capturar eventos del mouse/touch
  cursor: none;
  
  @media (max-width: 768px) {
    pointer-events: none; // Asegurar que no interfiera con el scroll en móviles
  }
}
